body {
  margin: 20px;
  background-color: aliceblue;
  font: 14px "Century Gothic", Futura, sans-serif;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    filter: drop-shadow(2px 1px 3px grey);
}
.game {
  text-align: center;
}

.game-board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-game {
    outline: 0;
    border: none;
    margin: 5px 0;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 0.3s;
    color: rgb(255, 217, 0);
    background-color: rgb(2, 2, 206);
}

.new-game:hover {
    color: white;
    background-color: rgb(38, 38, 209);
    filter: drop-shadow(0 0 4px rgb(255, 102, 0));
}

.game-info ol li {
  margin-left: -2rem;
}
